<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
    <header>
        <h1>Dog Park App</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parks">Parks</a>
                    </li>
                    <li>
                        <a href="/users/:id">User</a>
                    </li>
                </ul>
            </nav>
    </header>
    <main>
        <form action="/auth/login" method="POST">
            <label>Username:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
        <a href="users/new">Sign up</a>
    </main>    
</body>
</html>