
body{
    background-color: rgb(246, 242, 252);
}

nav{
    display: inline;
    background-color: rgba(125, 123, 224, 0.952);
}

button{
    background-color: rgba(125, 123, 224, 0.952);
    color: white;
}

.navbar-nav{
    display: inline;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}

#newpark{
    color: rgb(113, 113, 113);
    float: right;
}

form{
    margin: 3rem;
}

#index-form{
    border-radius: 2rem;
    margin-top: 5rem;
    margin-right: 7rem;
    padding: 3rem;
    background-color: white;
}

#register-park-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

#register-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

#user-edit-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

.fa-paw{
    margin-top: 10rem;
    margin-left: 10rem;
    font-size: 20rem;
}