body{
    background-color: lightgray;
}

nav{
    display: inline;
    background-color: rgba(125, 123, 224, 0.952);
}

.navbar-nav{
    display: inline;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}

#newpark{
    color: rgb(113, 113, 113);
    float: right;
}