@import url('https://fonts.googleapis.com/css?family=Pacifico|Signika&display=swap');
body{
    font-family: 'Signika', sans-serif;
    background-color: rgb(246, 242, 252);
}

ul{
    list-style: none;
}

#main-heading{
    margin-top: 3rem;
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
}

nav{
    display: inline;
    background-color: rgba(125, 123, 224, 0.952);
}

button{
    background-color: rgba(125, 123, 224, 0.952);
    color: white;
}

.navbar-nav{
    display: inline;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}

#newpark{
    color: rgb(113, 113, 113);
    float: right;
}

form{
    margin: 3rem;
}

#index-form{
    border-radius: 2rem;
    margin-right: 12rem;
    padding: 3rem;
    background-color: white;
}

#register-park-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

#register-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

#user-edit-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

#edit-park-form{
    border-radius: 1rem;
    margin: 5rem;
    padding: 3rem;
    background-color: white;
}

#homepage-paw{
    margin-top: 5rem;
    margin-left: 10rem;
    font-size: 20rem;
}

#park-gallery{
    background-color: white;
}

header{
    margin-top: 10px;
    margin-bottom: 10px;
}