<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGN UP</title>
</head>
<body>
     <header>
        <h1>REGISTER PAGE</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/parks">Parks</a>
                </li>
                <li>
                    <a href="/users/new">Register</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <form action="/users" method="POST">
            <label>Email:</label>
            <input type="text" name="email">
            <label>City:</label>
            <input type="text" name="city">
            <label>Username:</label>
            <input type="text" name="name">
            <label>Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Register">
        </form>
    
    </main>
    
</body>
</html>