<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Dog Park App || Parks Home Page</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parks">Parks</a>
                    </li>
                    <li>
                        <a href="/users/:id">User</a>
                    </li>
                </ul>
            </nav>
    </header>
    <main>
        <a href="parks/new">Create Park</a>

        <section>
            <%for(let i = 0; i < parks.length; i++){%>
                <ul>
                    <li>
                        <%=parks.name%>
                    </li>
                </ul>
            <%}%>
        </section>
    </main>

    

</body>
</html>