<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Park</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/parks">Parks</a>
                </li>
                <li>
                    <a href="/users/new">User</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2> <%=park.name%></h2>
        <section>
            <form action="/parks/<%=park._id%>?_method=DELETE" method=POST>
                <input type="submit" value="Delete Park"/>
            </form>
        </section>
        <section>
            <a href="/parks/<%=park._id%>/edit">Edit</a>
        </section>
    </main>
</body>
</html>